<h4>Doctors' list</h4>

<table class="table">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Category</th>
      <th></th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render @doctors %>
  <tbody>
</table>
