<% if appointment.errors.any? %>
  <div class="alert alert-danger text-start" role="alert">
    <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <small><li><%= message %></li></small>
      <% end %>
    </ul>
  </div>
<% end %>
