<h4>Your appointments</h4>
<table class="table">

  <thead>
    <tr>
      <th>#</th>
      <th><%= current_user.patient? ? 'Doctor' : 'Patgient' %></th>
      <th>Phone</th>
      <% if current_user.patient? %><th>Specialization</th><% end %>
      <th>Created At</th>
      <th>Closed At</th>
      <th>Status</th>
      <th>Priority</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'appointments/appointment', appointments: %>
  <tbody>
</table>
<% flash.now[:info] = I18n.t('flash_messages.appointments.no_appointments') if appointments.count.zero? %>
