<h1>Hello, <%= @appointment.patient.email %>!</h1>
<p>The answer was given on your appointment #<%= @appointment.short_id %> by doctor <%= @appointment.doctor.email %>.
<p>Please visit <a href="<%= ENV.fetch('APP_URL', 'http://localhost:3000/') %>">our site</a> to it</p>
